*,
html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary: #287c27;
    --primary-2: #549958;
    --secondary: #f8931f;
    --secondary-2: #ffb113;
    --txt-priary: #000000;
    --txt-secondary: #ffffff;
}


/*  */
header {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--txt-secondary);
    box-shadow: rgba(2, 2, 2, .5);
}

.header {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--txt-secondary);
    border: none;
}


.p-line {
    background-color: var(--primary);
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
    color: var(--primary);

}

.s-line {
    background-color: var(--secondary);
    width: 100%;
    height: 10px;
    color: var(--secondary);
}



.logo {
    width: 200px;
    margin: 8px;
    margin-right: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

li {

    padding-right: 20px;
    font-weight: bold;
}

li:hover {
    cursor: pointer;
    font-weight: bolder;
    color: var(--primary);
    transition: all ease-in-out .2s;
    font-size: large;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 18px;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--secondary);

}

.btn:hover {
    background-color: var(--primary);
    transition: all ease-in-out .2s;
    box-shadow: 6px 6px #cdcbcb;
    transition: all ease-out .3s;
    font-size: 17px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--txt-priary);
}

.btn-cta {
    color: var(--txt-secondary);
}

/* Home page */
.container {

    background-color: var(--txt-secondary);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 135vh;
}

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    align-items: center;
    justify-content: center;
    
}

.logo-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 100%;
}

.title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.desc {
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 10px;
}

/* about */

.about{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    justify-content: center;
    padding-top: 7%;
    /* background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    height: 100vh;
}
.about-1{
    width: auto;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--txt-secondary);
}
.title-about{
    display: flex;
    margin-bottom: 3px;
}
.desc-about {
    font-size: 20px;
}
.about-2{
    display: flex;
    gap: 20px;
    color: var(--txt-secondary);
    font-size: 24px;
    height: 70%;
    margin-bottom: 40px;
}
.img-about-flex{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    
}
.img-about {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    height: auto;
    width: 450px;
    border-radius: 8px ;
}

.container-maps{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.maps{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 50px;
    width: 600px; 
    height:300px;  
    border: none;
    allowfullscreen:"" ;loading:"lazy"; referrerpolicy:"no-referrer-when-downgrade";
}
.title-maps{
    text-align: left;
    margin-bottom: 15px;
}
